.featureHome {
    width: 100%;
    max-width: 1170px;
    z-index: 1000;
    transform: translateY(-40%);
    padding: var(--spacing-auto);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-around;
    gap: var(--spacing-auto-card);
}

.featureHome .card {
    background: var(--color-cherries-light);
    padding: var(--spacing);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.featureHome .card .content {
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-size: var(--font-size-xxsmall);
    color: var(--color-primary-dark);
}

.featureHome .card .content p {
    margin-top: 0;
}

.featureHome .card .content img {
    width: 5rem;
}


@media screen and (max-width: 890px) {
    .featureHome {
        bottom: 12vh;
    }
}

@media screen and (max-width: 500px) {
    .featureHome {
        bottom: 13vh;
    }

    .featureHome .card {
        width: 110px;
        height: 110px;
    }

    .featureHome .card .content img {
        width: 4rem;
    }
}

@media screen and (max-width: 450px) {
    .featureHome {
        bottom: 14vh;
        gap: var(--spacing-small);
        padding: var(--spacing-small);
    }

    .featureHome .card {
        padding: .3rem; 
        width: 100px;
        height: 100px;
    }

    .featureHome .card .content img {
        width: 3.5rem;
    }
}