/* Video header */
.home {
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	min-height: 70vh;
}

.featureHome {
	padding: 0 0 100px;
	background: #f9f9f9;
}

.featureHome .container {
	max-width: 1170px;
	margin: 0 auto;
}

.featureHome .row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.featureHome .col {
	width: 100%;
	max-width: 370px;
	margin-bottom: 30px;
}

.featureHome .col .card {
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 30px;
	text-align: center;
}

.featureHome .col .card .icon {
	font-size: 50px;
	color: #f9f9f9;
	background: #f9f9f9;
	padding: 20px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.featureHome .col .card .content {
	color: #ff5e14;
}

.buttonWrapper {
	margin-top: 1rem;
}

.container {
	width: 100%;
	max-width: 1920px;
	margin: auto;
	margin-bottom: 4rem;
}


@media screen and (max-width: 1300px) {
	.homeContainer .heroImage img {
		height: 180vh;
		right: -30%;
	}
}


@media screen and (max-width: 1200px) {
	.contact {
		min-height: 0;
	}
}

@media screen and (max-width: 992px) {
	.homeContainer .heroImage img {
		height: 170vh;
		right: -50%;
	}
}

@media screen and (max-width: 500px) {
	.homeContainer .heroImage img {
		right: -80%;
	}
}

@media screen and (max-width: 400px) {
	.homeContainer .heroImage img {
		right: -120%;
	}
}


/* Language: css */