/* Video header */
.home {
	height: 100%;
}

.hero {
	position: relative;
	height: 100%;
	width: 100%;
}

.homeContainer {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 1920px;
	margin: auto;
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.homeContainer .heroImage img {
	position: absolute;
	bottom: -50%;
	right: 0%;
	height: 180vh;
	width: auto;
	z-index: 1;
	background-size: fill;
	background-position: left;
}

.containerHero {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 1920px;
	margin: auto;
}

.container{
	width: 100%;
	height: 100%;
	max-width: 1920px;
	margin: auto;
	padding-bottom: 4rem;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	min-height: 70vh;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(18, 18, 18, .7) 20%, rgba(18, 18, 18, .1) 50%, transparent 100%);
	z-index: 2;
}

.overlay:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(18, 18, 18), rgba(18, 18, 18, .7) 10%, rgba(18, 18, 18, 0) 100%);
	background-size: cover;
	background-position: center center;
}


.featureHome {
	padding: 0 0 100px;
	background: #f9f9f9;
}

.featureHome .container {
	max-width: 1170px;
	margin: 0 auto;
}

.featureHome .row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.featureHome .col {
	width: 100%;
	max-width: 370px;
	margin-bottom: 30px;
}

.featureHome .col .card {
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 30px;
	text-align: center;
}

.featureHome .col .card .icon {
	font-size: 50px;
	color: #f9f9f9;
	background: #f9f9f9;
	padding: 20px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.featureHome .col .card .content {
	color: #ff5e14;
}

.buttonWrapper {
	margin-top: 1rem;
}

@media screen and (max-width: 1300px) {
	.homeContainer .heroImage img {
		height: 150vh;
		right: -10%;
	}
}


@media screen and (max-width: 1200px) {
	.contact {
		min-height: 0;
	}
}

@media screen and (max-width: 600px) {
	.homeContainer .heroImage img {
		height: 150vh;
		right: -20%;
	}
}

@media screen and (max-width: 400px) {
	.homeContainer .heroImage img {
		height: 150vh;
		right: -60%;
	}
}

/* Language: css */