/* Video header */
.home {
	min-height: 100vh;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
	height: 100%;
}

.button {
	margin-top: 1rem;
}

.paddingTop {
	padding-top: 1rem;
}

.container {
	width: 100%;
	max-width: 1920px;
	margin: auto;
	margin-bottom: 4rem;
}

.address {
	color: var(--color-primary-dark);
	font-weight: var(--font-weight-thin);
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}


@media screen and (max-width: 1300px) {
	.homeContainer .heroImage img {
		height: 180vh;
		right: -30%;
	}
}


@media screen and (max-width: 1200px) {
	.contact {
		min-height: 0;
	}
}

@media screen and (max-width: 992px) {
		.content {
			padding-top: 2rem;
		}

	.homeContainer .heroImage img {
		height: 170vh;
		right: -50%;
	}
}

@media screen and (max-width: 600px) {
	.content {
		padding-top: 3rem;
	}
}

@media screen and (max-width: 500px) {
	.homeContainer .heroImage img {
		right: -80%;
	}
}

@media screen and (max-width: 400px) {
	.homeContainer .heroImage img {
		right: -120%;
	}
}


/* Language: css */