.header {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 1rem;
	display: flex;
	justify-content: left;
	align-items: center;
}

.button {
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	background-color: rgba(18, 18, 18, 0.5);
	transition: all 0.3s ease;
}

.button:hover {
	background: #fff;
	color: #000;
}