.blogcontainer {
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto 0;
  line-height: 1.6rem;
  overflow: hidden;
}

.blogcover {
  width: 100%;
  height: 100vh;
  position: relative;
}

.blogcover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.blogcover picture img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
}

.blogcover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: radial-gradient(rgba(33, 2, 0, 0) 25%, rgba(21, 15, 14, 1) 95%, rgba(18, 18, 18, 1) 100%);

  z-index: 10;
}

.goNext,
.goPrev {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 200px;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10000;
}

.goNext {
  right: 0;
  justify-content: end;
}

.next,
.prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.678);
}

.goNext:hover .next,
.goPrev:hover .prev {
  background: rgba(0, 0, 0, 0.5);
}

.goNext i,
.goPrev i {
  font-size: 2rem;
}

.swipe-right {
  animation: swipeRight 0.5s ease;
}

.swipe-left {
  animation: swipeLeft 0.5s ease;
}

@keyframes swipeRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}