.blogcontainer {
  max-width: 1920px;
  margin: 0 auto 0;
  line-height: 1.6rem;
}


.blogbody img {
  max-width: 100%;
  
}

.blogcover {
  display: flex;
  justify-content: center;
}

.blogcover img {
  width: auto;
  height: 100vh;
  background-color: var(--color-secondary);
}
