.blogcontainer {
  max-width: 1920px;
  margin: 0 auto 0;
  line-height: 1.6rem;
}


.blogbody img {
  max-width: 100%;
  
}

.blogcover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blogcover img {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-color: var(--color-secondary);
  background-position: center;
}

.inlineImageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 32px auto;
}

.inlineImage {
  max-width: 100%;
}

.inlineImageTitle {
  font-size: 0.8rem;
  margin-top: 8px;
  color: var(--color-primary-dark);
}
