.blogcontainer {
  max-width: 1920px;
  margin: 0 auto 10em;
  line-height: 1.6rem;
}

.blogtitle {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: var(--spacing)
}

.blogbody {
  font-size: var(--font-size);
  padding: var(--spacing);
}

.blogbody img {
  max-width: 100%;

}

.blogbody a {
  color: var(--color-secondary);
  text-decoration: underline;
}

.blogImage {
  width: fit-content;
  width: max-content;
  margin: auto;
}

.blogcover img {
  height: 100%;
  width: auto;
  height: 100vh;
  background-color: var(--color-secondary);
  background-position: center;
}

.inlineImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 32px auto;
}

.inlineImage {
  max-width: 100%;
}

.inlineImageTitle {
  font-size: 0.8rem;
  margin-top: 8px;
  color: var(--color-primary-dark);
}