.formWrapper {
    width: 100%;
}

.formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formWrapper input,
.formWrapper textarea {
    font-size: var(--font-size-medium);
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
    padding: .5rem;
    border-radius: var(--border-radius-large);
}

.formWrapper input:focus,
.formWrapper textarea:focus {
    border: 0;
    outline: 0;
}

.formWrapper input::placeholder,
.formWrapper textarea::placeholder {
    color: var(--color-primary-dark);
}

.formWrapper input,
.formWrapper textarea {
    color: var(--color-primary);
    border: 0;
    background-color: var(--color-secondary-light);
}

.formWrapper textarea{
    resize: none;
    height: 100px;
    overflow: hidden;
}

.formWrapper input:-webkit-autofill,
.formWrapper input:-webkit-autofill:hover,
.formWrapper input:-webkit-autofill:focus,
.formWrapper input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-secondary-light) inset !important;
    -webkit-text-fill-color: var(--color-primary) !important;
}


@media all and (max-width: 728px) {
    .formWrapper {
        flex-direction: column;
    }
}