button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.btnWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;	
    height: 100%;
    min-width: 250px;
    width: max-content;
    width: fit-content;  
    background-color: var(--color-rgb-transparent);
    /* border: 1px solid var(--color-primary-dark); */
     background: var(--gradient-button);
    border-radius: var(--border-radius-rounded);
}

.btnWrapper span {
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing-large);
    font-family: var(--font-family);
    text-transform: uppercase;
    color: var(--color-primary-dark);
    margin: 0 1rem;
}

