
.hero {
    position: relative;
    margin-bottom: 3rem;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero .heroImage img {
    position: absolute;
    bottom: -50%;
    right: -5%;
    height: 190vh;
    width: auto;
    z-index: 1;
    background-size: fill;
    background-position: left;
}

.container {
    width: 100%;
    height: auto;
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(18, 18, 18, .8) 30%, rgba(18, 18, 18, .7) 70%, rgba(18, 18, 18, .2) 100%);
    z-index: 2;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(18, 18, 18), rgba(18, 18, 18, .5) 10%, transparent 100%);
    background-size: cover;
    background-position: center center;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(190deg, rgba(18, 18, 18), rgba(18, 18, 18) 10%, transparent, transparent 100%);
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 1600px) {
    .hero .heroImage img {
        right: -15%;
    }
}


@media screen and (max-width: 976px) {    
    .hero .heroImage img {
        right: -35%;
        
    }
    .hero {
        padding-top: 4rem;
        min-height: 80vh;
    }
}

@media screen and (max-width: 400px) {
     .hero .heroImage img {
         right: -50%;
     }
    .hero {
        padding-top: 5rem;
    }
}