
.hero {
    position: relative;
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-secondary);
}

.hero .heroImage img {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 0;
    height: 190vh;
    width: auto;
    z-index: 1;
    background-size: fill;
    background-position: left;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(18, 18, 18, .8) 30%, rgba(18, 18, 18, .7) 70%, rgba(18, 18, 18, .2) 100%);
    z-index: 2;
}

.overlay::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(18, 18, 18)2%, rgba(18, 18, 18, .7)30%, transparent 60%, transparent 100%);
    background-size: cover;
    background-position: center center;
}

.overlay::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(18, 18, 18)2%, rgba(18, 18, 18, .7)30%, transparent 60%, transparent 100%);
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 1600px) {
    .hero .heroImage img {
        right: -15%;
    }
    
}


@media screen and (max-width: 976px) {    
    .hero .heroImage img {
        right: -35%;
        
    }
}

@media screen and (max-width: 768px) {
    .hero .heroImage img {
        right: -50%;
    }
}
