/* Landing content */
.container {
    border-radius: var(--border-radius-large);
    position: relative;
    z-index: 4;
    width: 100%;
    padding: var(--spacing-auto-card);
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    background: var(--gradient);
    backdrop-filter: blur(6px);
}

.container h1 {
    white-space: nowrap;
    text-transform: uppercase;
    margin: 0;
}

.container h1 span {
    color: var(--color-cherries-light)
}

.container p {
  font-weight: var(--font-weight-light);
}
