/* Landing content */
.container {
    border-radius: var(--border-radius-large);
    position: relative;
    z-index: 4;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    backdrop-filter: blur(6px);
}

.container h2,
.container h3,
.container h1 {
    white-space: nowrap;
    text-transform: uppercase;
    margin: 0;
}

.container h3 span,
.container h2 span,
.container h1 span {
    color: var(--color-cherries-light)
}

.container p {
  font-weight: var(--font-weight-light);
}

@media screen and (max-width: 768px) {
    .container {
        backdrop-filter: blur(3px);
    }
}
