.header {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 1rem;
	left: 1rem;
	display: flex;
	justify-content: left;
	align-items: center;
}

.container {
	width: 100%;
	max-width: 1920px;
	margin: auto;
}

