.header {
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: 100;
	padding: .2rem 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
}

.header h1 {
	float: left;
	margin: 0;
	font-size: 40px;
	line-height: 100px;
	font-weight: 400;
	color: #FAFAFA;
}

.header nav {
	float: right;
	font-size: 100%;
	display: flex;
	align-items: center;
	justify-self: center;
	gap: 1rem;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 100px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FAFAFA;
	will-change: background-color;
	transition-property: color;
	transition-duration: 300ms;
	text-transform: uppercase;
	position: relative;
}

.header nav a:hover,
.header nav a:active,
.header nav a.active {
	color: red;
}

.header nav a:after {
	content: '';
	width: 0%;
	border-bottom: 3px solid red;
	position: absolute;
	bottom: -12px;
	left: 0;
	transition-duration: width;
	transition-duration: 300ms;
}

.header nav a:hover:after, .header nav a.active:after {
	width: 100%
}

@media all and (max-width: 728px) {
	.header h1{
		font-size: 2rem;
	}
  .header nav a{
		line-height: 100px;
		margin: 0 8px;
  }
}
