:root {
    --color-primary: #e9ebee;
    --color-secondary: #121212;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary);
    font-weight: 400;
    color: var(--color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}


main {
    max-width: 2400px;
    margin: auto;
    padding: 6rem 1rem 1rem 1rem;
}

a {
    text-decoration: none;
    color: var(--color-primary)
}

@media screen and (min-width: 768px) {
    main {
        padding: 6rem 2rem 2rem 2rem;
    }
}

