:root {
    --color-primary: #e9ebee;
    --color-secondary: #121212;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--color-secondary);
    font-weight: 400;
    color: var(--color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    height: 100%;
    max-width: 2000px;
    padding: 6rem 1rem 4rem 1rem;
}

a {
    text-decoration: none;
    color: var(--color-primary)
}

@media screen and (min-width: 879px) {
    main {
        padding: 8rem 4rem 4rem 4rem;
    }
}

