@import './variables.css';

#app {
	height: 100%;
}


* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: var(--color-secondary);
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--color-primary);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: var(--font-family-secondary);
	font-weight: var(--font-weight-bold);
	letter-spacing: var(--letter-spacing-xxxlarge);
	color: var(--color-primary-dark);
}

.container {
	width: 100%;
	max-width: 1920px;
	margin: auto;
}

main {
	max-width: 1920px;
	margin: auto;
	padding: 6rem 1rem 2rem 1rem;
}

a {
	text-decoration: none;
	color: var(--color-cherries-light)
}

a:hover {
	color: var(--color-primary-dark);
}

@media screen and (min-width: 768px) {
	main {
		padding: 6rem 2rem 4rem 2rem;
	}
}
