:root {
    /* colors */
    --color-primary: #e9ebee;
    --color-primary-darker: #d6d8db;
    --color-primary-dark: #c0bcbc;
    --color-secondary: #121212;
    --color-gray: #8a8888;
    --color-secondary-light: #1f1f1f;
    --color-rgb-transparent: rgba(18, 18, 18, 0.5);


    --color-cherries-light: #9b0808;
    --color-cherries-dark: #850404;
    --color-cherries-darker: #2b0202;

    --overlay-color-hover: rgba(18, 18, 18, 0.0);
    --overlay-color-dark: rgba(18, 18, 18, 0.8);
    --overlay-color: rgba(18, 18, 18, 0.5);
    --overlay-color-light: rgba(18, 18, 18, 0.3);

    /* borders */
    --border-radius: 5px;
    --border-radius-large: 10px;
    --border-radius-rounded: 50px;

    /* box-shadow */
    --box-shadow:
        0px 8px 10px 1px hsla(0, 0%, 0%, 0.14),
        0px 3px 14px 2px hsla(0, 0%, 0%, 0.12),
        0px 5px 5px -3px hsla(0, 0%, 0%, 0.2);
    --box-shadow-large:
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        0px 16px 24px 2px hsla(0, 0%, 0%, 0.14),
        0px 6px 30px 5px hsla(0, 0%, 0%, 0.12),
        0px 8px 10px -5px hsla(0, 0%, 0%, 0.2);

    --gradient: linear-gradient(90deg, rgba(18, 18, 18, .2), rgba(233, 235, 238, 0.1) 50%, rgba(18, 18, 18, 2) 100%);
    --gradient-dark: linear-gradient(90deg, rgba(18, 18, 18, .2), rgba(18, 18, 18, 0.1) 50%, rgba(18, 18, 18, 2) 100%);
    --gradient-light: linear-gradient(90deg, rgba(233, 235, 238, .2), rgba(233, 235, 238, 0.1) 50%, rgba(233, 235, 238, 2) 100%);
    --gradient-cherries: linear-gradient(90deg, rgba(233, 235, 238, .2), rgba(233, 235, 238, 0.1) 50%, rgba(233, 235, 238, 2) 100%);
    --gradient-cherries-dark: linear-gradient(90deg, rgba(18, 18, 18, .2), rgba(18, 18, 18, 0.1) 50%, rgba(18, 18, 18, 2) 100%);
    --gradient-cherries-light: linear-gradient(90deg, rgba(233, 235, 238, .2), rgba(233, 235, 238, 0.1) 50%, rgba(233, 235, 238, 2) 100%);
    --gradient-button: linear-gradient(90deg, rgba(18, 18, 18, .2), rgba(233, 235, 238, 0.1) 100%);
    --gradient-button-dark: linear-gradient(90deg, rgba(18, 18, 18, .2), rgba(18, 18, 18, 0.1) 100%);
    --gradient-button-light: linear-gradient(90deg, rgba(233, 235, 238, .2), rgba(233, 235, 238, 0.1) 100%);
    --gradient-button-hover: linear-gradient(90deg, rgba(18, 18, 18, .2), rgba(233, 235, 238, 0.1) 100%);
    --gradient-button-hover-dark: linear-gradient(90deg, rgba(18, 18, 18, .2), rgba(18, 18, 18, 0.1) 100%);
    --gradient-button-hover-light: linear-gradient(90deg, rgba(233, 235, 238, .2), rgba(233, 235, 238, 0.1) 100%);
    --gradient-cherries-button: linear-gradient(90deg, rgba(233, 235, 238, .2), rgba(233, 235, 238, 0.1) 100%);
    --gradient-cherries-button-dark: linear-gradient(90deg, rgba(18, 18, 18, .2), rgba(18, 18, 18, 0.1) 100%);
    --gradient-cherries-button-light: linear-gradient(90deg, rgba(233, 235, 238, .2), rgba(233, 235, 238, 0.1) 100%);
    --gradient-cherries-button-hover: linear-gradient(90deg, rgba(233, 235, 238, .2), rgba(233, 235, 238, 0.1) 100%);
    --gradient-cherries-button-hover-dark: linear-gradient(90deg, rgba(18, 18, 18, .2), rgba(18, 18, 18, 0.1) 100%);

    
    /* font */
    --font-family: 'Roboto', sans-serif;
    --font-family-secondary: 'Gemunu Libre', sans-serif;
    --font-size: 1.1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.4rem;
    --font-size-xlarge: 1.6rem;
    --font-size-xxlarge: 1.8rem;
    --font-size-small: 0.9rem;
    --font-size-title: 3rem;

    --font-weight: 400;
    --font-weight-bolded: 500;
    --font-weight-bold: 700;
    --font-weight-light: 300;
    --font-weight-thin: 100;

    /* Letter spacing */
    --letter-spacing: 0.1rem;
    --letter-spacing-large: 0.2rem;
    --letter-spacing-xlare: 0.3rem;
    --letter-spacing-xxlarge: 0.4rem;
    --letter-spacing-xxxlarge: 0.5rem;
    --letter-spacing-small: 0.05rem;

    /* spacing */
    --spacing: 1rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 3rem;
    --spacing-xxlarge: 4rem;
    --spacing-small: 0.5rem;
    --spacing-auto: 0 min(5vw, 2rem);

    /* transition */
    --transition: all 0.3s ease;
    --transition-fast: all 0.1s ease;
    --transition-slow: all 0.5s ease;
}