.cardMedia {
    width: 100%;
    max-width: 350px;
    height: 450px;
}

.cardMedia img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.imgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.2s ease;
}

.imgOverlay:hover {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
}