.imageFeature {
    width: auto;
    display: grid;
    grid-template-columns: 50% 70%;
    place-items: center;
}

.imageFeatureSingle {
    width: auto;

}

.imageFeatureSingle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-large);
    transition: var(--transition);
    box-shadow: var(--box-shadow);
    max-height: 60vh;
}


.imageFeature .card {
    position: relative;
    z-index: 1;
    width: auto;
    height: 100%;
    transform: rotate(20deg) translate(-130px, 40px);
    z-index: 2;
}

.imageFeature .card:nth-child(1) {
    z-index: 3;
    width: auto;
    height: 70%;
    transform: translate(0px, -0px) rotate(-10deg);
}


.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: var(--overlay-color-light);
    z-index: 10;
    transition: var(--transition)
}

.card:hover .overlay {
    background-color: var(--overlay-color-hover);
    transform: scale(1.1);
}

.imageFeature .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-large);
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

@media (hover: hover) {
    .imageFeature .card:hover img {
        transform: scale(1.01);
    }
}

@media screen and (max-width: 500px) {
    .imageFeature .card {
        transform: rotate(20deg) translate(-80px, 40px);
    }
}
