.footer {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height:auto;
    background: var(--gradient);
    color: var(--color-primary-darker);
    letter-spacing: var(--letter-spacing-small);
    z-index: 1000;
}


.footerContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 2rem 0 0 0;
}

.footerHeader {
    width: 100%;
    margin: auto;
    max-width: 900px;
    text-align: center;
    padding-bottom: 1rem;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
}

.footerContent h3 {
    text-transform: uppercase;
}


.footerContent .socialMedia span {
    display: block;
}

.footerContent .footerIcon {
    margin-top: -18px;
}

.footerBottom {
    border-top: 1px solid var(--color-secondary-lightest);
    font-size: var(--font-size-xxsmall);
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight);
    color: var(--color-white);
}

@media screen and (max-width: 800px) {
    .footerContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;    
    }
    .footerContent {
        justify-content: flex-start;

    }
}
