footer {
    width: 100%;
    height: 100%;
    height: auto;
    background: var(--color-secondary-light);
    color: var(--color-primary-darker);
    letter-spacing: var(--letter-spacing-small);
    z-index: 1000;
    padding: var(--spacing-auto);
}

.footer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

a {
    color: var(--color-primary-darker);
    text-decoration: none;
}


.footerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerHeader {
    width: 100%;
    max-width: 400px;
    padding: 2rem 0;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
}

.footerContent h3 {
    text-transform: uppercase;
    margin: auto;
}

.footerContent p {
    font-weight: var(--font-weight-thin);
    font-family: var(--font-family-tertiary);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    color: var(--color-primary-darker);
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


.footerContent .socialMedia span {
    display: block;
}

.footerContent .footerIcon {
    margin-top: -18px;
}

.footerBottom {
    border-top: 1px solid var(--color-secondary-lightest);
    font-size: var(--font-size-xxsmall);
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight);
    color: var(--color-primary-darker);
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerBottom span {
    color: rgb(179, 113, 66);
    border: 1px solid rgb(179, 113, 66);
    border-radius: 2px;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
}

.footerContentText span {
    font-weight: 100;
}

@media screen and (max-width: 800px) {
    .footerContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }

    .footerContent {
        justify-content: flex-start;

    }
}