
.about {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 4rem 0;
}

.about:nth-child(1) {
  position: relative;
}

.footerWrapper {
  padding: 4rem 0 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  min-height: 60vh;
}

@media screen and (max-width: 890px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about .image {
    order: 2;
  }
  .about .text {
    order: 1;
  }
}
