.main {
  padding: 6rem 0 min(5vw, 2rem) 0;
}

.about {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 6rem;
}

.about:nth-child(1) {
  padding-bottom: 10rem;
  position: relative;
}

.footerWrapper {
  padding: 4rem 0;
}

.featureHomeWrapper {
  position: absolute;
  bottom: -6%;
  width: 100%;
}

@media screen and (max-width: 890px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about .image {
    order: 2;
  }
  .about .text {
    order: 1;
  }
  .featureHomeWrapper {
    bottom: -12%;
  } 
}

@media screen and (max-width: 670px) {
    .featureHomeWrapper {
      bottom: -15%;
    }
}

@media screen and (max-width: 440px) {
  .featureHomeWrapper {
    bottom: -18%;
  }
}

