.pageBlogs {
  text-align: center;
}

.pageContent {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing);
}


@media screen and (min-width: 768px) {
  .pageContent {
    gap: var(--spacing-xlarge);
  }
}
