.gallery {
  display: grid;
  grid-gap: min(5vw, 2rem);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-bottom: 4rem;
}

@media screen and (min-width: 913px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}